<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
 xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
	<head>
		<meta charset="UTF-8">
		<title>UserPage</title>
		<style>
		li {
		 list-style: none;
		}
		
		.form {
		 width: 700px;
		 padding: 5px;
		 background-color: #FFEFE0;
		 border: 2px solid #552200;
		 border-width: 0px 2px 2px 0px;
		 border-radius: 5px;
		}
		
		.line {
		 display: inline-block;
		 width: 100%;
		 border: 1px solid #999;
		 border-width: 0px 0px 1px 0px;
		}
		
		.post {
		 border: solid 2px skyblue;
		 padding: 5px;
		 border-radius: 5px;
		 margin: 2em 0;
		 width: 698px
		}
		</style>
	</head>
	<body>
		
	</body>
</html>